<h1>Hello custom fields</h1>
<form [formGroup]="formGroup">
  <pndc-phone-number-field formControlName="phone" [showSearch]="false"></pndc-phone-number-field>
  <div class="parent">
    <div>
      Label
    </div>
    <div class="sub-parent">
      <div class="wrapper">
        <div class="wrapper__item"><span>Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Vivamus suscipit
    tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Curabitur arcu
    erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta.</span>
        </div>

        <div class="wrapper__item"><span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="parent">
    <div class="hidden">
      Label
    </div>
    <div style="width:100%">
      <pndc-scale-field [min]="0" [max]="10" [step]="1" [disabled]="false"
                        [minLabel]="'!!!!!! ajsdlkajsldlksajdl ksajdlkasjdlkasjldkj ldkgjlkfsjglkjfgl '"
                        [maxLabel]="'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using \'Content here, content here\', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for \'lorem ipsum\' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).'"
                        [value]="4"
                        [primaryColor]="'#ca3b42'">
      </pndc-scale-field>
    </div>
  </div>
  <div class="parent">
    <div class="hidden">
      Label
    </div>
    <div style="width:100%">
      <pndc-scale-field [min]="0" [max]="1000000000" [step]="1" [disabled]="false"
                        [minLabel]="'!!!!!! ajsdlkajsldlksajdl ksajdlkasjdlkasjldkj ldkgjlkfsjglkjfgl '"
                        [maxLabel]="'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using \'Content here, content here\', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for \'lorem ipsum\' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).'"
                        [value]="4"
                        [primaryColor]="'#ca3b42'">
      </pndc-scale-field>
    </div>
  </div>
  <div class="parent">
    <div>
      Label
    </div>
    <div style="overflow:hidden">
      <div class='wrapper'>
        <div class='wrapper__item'><span>Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Vivamus suscipit
    tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Curabitur arcu
    erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta.</span>
        </div>

        <div class='wrapper__item'><span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)</span>
        </div>
      </div>
    </div>
  </div>
</form>
